[submodule "models/atomgpt"]
	path = models/atomgpt
	url = git@github.com:crhysc/atomgpt.git
	branch = main
[submodule "models/cdvae"]
	path = models/cdvae
	url = git@github.com:models/cdvae
[submodule "flowmm"]
	path = flowmm
	url = git@github.com:crhysc/flowmm
[submodule "cdvae"]
	path = cdvae
	url = git@github.com:crhysc/cdvae
